.catalog {
  margin-top: -58px;
  margin-bottom: 37px;
  z-index: 1;
}

.catalog__wrapper {
  margin-top: 50px;
  display: flex;
}

.catalog__main-column-wrapper {
  margin-left: 30px;
  flex-grow: 1;
  width: 702px;
}
