.basket-card {
  display: flex;
  padding: 20px 0 15px 44px;
  position: relative;
}

.basket-card__content-wrapper {
  &--heading-article-specifications {
    width: 300px;
  }

  &--image {
    order: -1;
    margin-right: 68px;
  }

  &--price-quantity-total {
    display: flex;
    margin: 3px 0 0 auto;
    align-items: center;
    justify-content: space-between;
    width: 427px;
  }

  &--remove-from-basket-link {
    position: absolute;
    top: 20px;
    left: 1px;
  }
}

.basket-card__heading {
  margin: 0;
  margin-bottom: 12px;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.08em;
}

.basket-card__article,
.basket-card__specifications {
  margin: 0 0 5px 1px;
  font-size: 14px;
  letter-spacing: 0.08em;
}

.basket-card__image {
  filter: drop-shadow(0px 2px 6px $guitar-shadow);
}

.basket-card__price {
  font-size: 20px;
  letter-spacing: 0.05em;
  width: 120px;
}

.basket-card__quantity-wrapper {
  display: flex;
  position: relative;
  margin: 17px 0 auto 6px;
}

.basket-card__change-quantity-button {
  position: absolute;
  top: 0;
  padding: 0;
  border: 1px solid transparent;
  background-color: transparent;
  width: 28px;
  height: 100%;
  cursor: pointer;

  &--decrease {
    left: 0;
    border-right-color: $input-border;
    background-image: url("data:image/svg+xml,%3Csvg width='8' height='1' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%239F9E9E' d='M8 .5H0'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
  }

  &--increase {
    right: 0;
    border-left-color: $input-border;
    background-image: url("data:image/svg+xml,%3Csvg width='8' height='8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%239F9E9E' d='M8 4.118H0M3.846 8V0'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
  }

  &:hover,
  &:focus {
    outline: none;
    border-color: $general-black;
    background-color: $checkbox-disabled-background;
  }

  &:active {
    opacity: 0.3;
  }
}

.basket-card__quantity-input {
  width: 82px;
  height: 30px;
  padding: 2px 28px 0 29px;
  border: 1px solid $input-border;
  text-align: center;
  color: $input-border;
  letter-spacing: 0.05em;
  appearance: textfield;

  &:hover,
  &:focus {
    outline: none;
    border-color: $general-black;
  }

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    appearance: none;
  }
}

.basket-card__total {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.05em;
  width: 120px;
  text-align: right;
}

.basket-card__remove-from-basket-link {
  display: block;
}
