.close-button {
  padding: 0;
  border: 1px solid transparent;
  width: 18px;
  height: 18px;
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.77 11.835 6 7.058l-4.77 4.777L.165 10.77 4.943 6 .165 1.23 1.23.165 6 4.943l4.77-4.77 1.058 1.057L7.058 6l4.77 4.77-1.058 1.065Z' fill='%239F9E9E'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;

  &:hover,
  &:focus {
    border-color: $input-border;
  }

  &:active {
    opacity: 0.3;
  }
}
