.footer-contacts {
  width: 130px;
}

.footer-contacts__list {
  margin: 0;
  margin-top: 16px;
  padding: 0;
  list-style: none;
}

.footer-contacts__address {
  margin: 0;
  letter-spacing: 0.13em;
}

.footer-contacts__phone {
  color: inherit;
  padding-left: 15px;
  line-height: 14px;
  letter-spacing: 0.1em;
  position: relative;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &::before {
    content: "";
    width: 8px;
    height: 8px;
    background-image: url(./img/phone-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 1px;
    left: 1px;
  }
}

.footer-contacts__opening-hours {
  margin: 0;
  margin-top: 11px;
  letter-spacing: 0.13em;
  white-space: pre-line;
}

.footer-contacts__opening-hours-wrapper {
  padding-left: 15px;
  letter-spacing: 0.1em;
  position: relative;

  &::before {
    content: "";
    width: 10px;
    height: 10px;
    background-image: url(./img/clock-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
  }
}
