// Colors
$general-black: #000000;
$general-white: #ffffff;
$basket-quantity: #f20505;
$header-background: #1e090626;
$decorative-gutar-shadow: #00000026;
$footer-background: #3f3f3f;
$breadcrumbs-color: #474747;
$filter-border: #dddada;
$input-border: #9f9e9e;
$price-dash: #585757;
$checkbox-active: #c1c1c1;
$checkbox-disabled-background: #f6f3f3;
$checkbox-disabled-border: #dddddd;
$guitar-shadow: #00000033;
$buy-link-background: #e27f00;
$buy-link-hover-background: #ffa839;
$buy-link-active-background: #da8b26;
$overlay-color: #58575799;
$modal-shadow: #3f3f3f33;
$error-message: #ff0000;

// Body width
$desktop-width: 1020px;

// Wrappers
$desktop-wrapper: 1020px;
